*{
    margin: 0%;
    padding: 0%;

}


#banner{
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%),url(./images/donation1.jpg);
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 669px;

}

.banner-text{

    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: bold;
    padding-top: 174px;
    font-weight: 700px;
    
    
}

.banner-text h1{
    font-size: 55px;
    
}
.banner-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.style{
    background: #FF5959;
    padding: 16px 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    text-decoration: none;
    
}

.donate{
    text-align: center;
    padding-top: 65px;
    
}

.donate h1{
    line-height: 40px;
    font-family: 'Inter', sans-serif;
    font size: 45px;
    font-weight: 700px;
}

.donate p{

    color: #707070;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    
}

.donate-money{
 text-align: center;
 line-height: 100px;

}

.border{
    border: 1px solid white;
    padding:20px 10px;
    color: #707070;
    background-color: #FAFAFA;
    font-weight: 700px;
    font-size: 25px;
    
}

.border-red{
    border: 2px solid #FF5959;
    color: #FF5959;
    padding:20px 10px;
    background: #FFEEEE;
    font-size: 25px;

}


.amount{
    border-bottom: 1px solid #DADADA;
   text-align: center;
   color:#B3B3B3;
   
}

.button{

    text-align: center;
    line-height: 70px;
    text-decoration: none;
    
}
.button a{
    text-decoration: none;
    padding:10px 10px;
    background:#FF5959;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color:#FFFFFF;
}


.donation-plan{
    text-align: center;
    color: #121212;
    
}

.donation-plan h1{
    font-family: 'Inter', sans-serif;
    line-height: 50px;
    font-weight: 700px;
}

.donation-plan p{
    font-family: 'Poppins', sans-serif;

}

.donation-idea{
    display: flex;
    text-align: center;
    margin-top: 25px;
}


.food-famaly{

   
    height: 130px;
    width: 253px;
    color:  #707070;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: rgba(79, 157, 166, 0.1);
    padding: 50px 50px 50px 50px;
    text-align: justify;
    font-weight: 400;
    margin-right: 24px;
    margin-left: 100px;
    
    
    
    
}

.shelter-family{
    height: 138px;
    width: 253px;
    color:  #707070;
    background: rgba(255, 89, 89, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: justify;
    padding: 46px 46px 46px 46px;
    margin-right: 24px;
}

.education-chidl{

    width: 253px;
    height: 130px;
    font-size: 16px;
    color:  #707070;
    text-align: justify;
    padding: 46px 46px 46px 46px;
    background-color: #FFF4D6;
    font-family: 'Poppins', sans-serif;
    
}



