*{
    margin: 0%;
    padding: 0%;

}


#banner{
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%),url(./images/donation1.jpg);
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 669px;

}

.banner-text{

    text-align: center;
    color: white;
    font-style: bold;
    padding-top: 174px;
    font-weight: 700px;
    
    
}

.banner-text h1{
    font-size: 55px;
    font-family: 'Inter', sans-serif;
    

    
}
.banner-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.style{
    background: #FF5959;
    padding: 16px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300px;
    
}

.donate{
    text-align: center;
    padding-top: 65px;
    
}

.donate h1{
    line-height: 40px;
    font-family: 'Inter', sans-serif;
    font size: 205px;
    font-weight: 1000px;
    /* check */
}

.donate p{

    color: #707070;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    
}

.donate-money{
 text-align: center;
 line-height: 100px;

}

.border{
    border: 1px solid white;
    padding:20px 10px;
    color: #707070;
    background-color: #FAFAFA;
    font-weight: 700px;
    font-size: 25px;
    
}

.border-red{
    border: 2px solid #FF5959;
    color: #FF5959;
    padding:20px 10px;
    background: #FFEEEE;
    font-size: 25px;

}


.amount{
    border-bottom: 1px solid #DADADA;
   text-align: center;
   color:#B3B3B3;
   margin-top: 18px;
   
}

.button{

    text-align: center;
    line-height: 70px;
    text-decoration: none;
    
}
.button a{
    text-decoration: none;
    padding:10px 10px;
    background:#FF5959;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color:#FFFFFF;
}


.donation-plan{
    text-align: center;
    color: #121212;
    
}

.donation-plan h1{
    font-family: 'Inter', sans-serif;
    line-height: 50px;
    font-weight: 700px;
}

.donation-plan p{
    font-family: 'Poppins', sans-serif;

}

.donation-idea{
    display: flex;
    text-align: center;
    margin-top: 25px;
}


.food-famaly{

   
    height: 175px;
    width: 253px;
    color:  #707070;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: rgba(79, 157, 166, 0.1);
    padding: 50px 50px 50px 50px;
    text-align: justify;
    font-weight: 400;
    margin-right: 24px;
    margin-left: 100px;
    
    
    
    
}

.shelter-family{
    height: 182px;
    width: 253px;
    color:  #707070;
    background: rgba(255, 89, 89, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: justify;
    padding: 46px 46px 46px 46px;
    margin-right: 24px;
}

.education-chidl{

    width: 253px;
    height: 180px;
    font-size: 16px;
    color:  #707070;
    text-align: justify;
    padding: 46px 46px 46px 46px;
    background-color: #FFF4D6;
    font-family: 'Poppins', sans-serif;
    
}

.footer{
    text-align: center;
    background: black;
    color:#FF5959;
    height: 100px;
    padding-top: 30px;
    font-family: 'Lobster', cursive;
    
    
}

.footer p{

    color:#D9DBE1;
    font-family: 'Manrope', sans-serif;
    line-height: 45px;
}

.icon{
    width: 40px;
}


.donate-updates{
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.donate-updates p{

    color: #707070;
    font-family: 'Poppins', sans-serif;
}

.donate-please{
    display: flex;
}


.donate-man{
    margin-left: 95px;
    margin-top: 90px;
    width: 400px;

}

.donate-man h1{
    font-family: 'Inter', sans-serif;
    font-size: 38px;
}

.donate-man p{
    font-family: 'Poppins', sans-serif;
    color:#707070;
    font-size: 13px;
    
}

.link{
    text-decoration: none;
    background: #FF5959;
    padding: 12px 11px;
    line-height: 45px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}



.donate-images{
    margin-left: 70px;
    line-height: 150px;
    

}

.donate-updates h1{
    margin-bottom: 15px;
}

.email-submit{
    background-color: #FFF4D6;
    height: 200px;
    width: 809px;
    margin-left: 285px;
    margin-top: 30px;
    
}
.email-submit input{
    margin-top: 90px;
    width: 259px;
    height: 34px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    border:none;

    
}

.submit-btn{
    background: #FF5959;
    padding: 8px;
    border-radius: 0px 5px 5px 0px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-left: -9px;
